@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Permanent+Marker&display=swap");

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  max-width: 1200px;
  margin: 0 auto;
}

.landingContainer span {
  margin-top: 44px;
}

.landingNav {
  width: 75%;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.landingNav .landingDivider {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

@font-face {
  font-family: "OpinionPro";
  src: url("../public/fonts/OP.otf") format("truetype");
}

.landingNav .landingMike {
  font-size: 60px;
  font-family: "OpinionPro", sans-serif;
  padding: 50px;
  transition: all 0.25s ease-in;
}

.landingNav .landingMike:hover {
  color: rgb(204, 156, 197);
}

.landingNav .landingMerch {
  font-size: 60px;
  font-family: "Permanent Marker", cursive;
  padding: 50px;
  transition: all 0.25s ease-in;
}

.landingNav .landingMerch:hover {
  color: rgb(64, 87, 110);
}

@media screen and (min-width: 768px) {
  .landingContainer span {
    margin-right: 70px;
  }

  .landingNav {
    flex-direction: row;
  }

  .landingNav .landingDivider {
    height: 100%;
    width: 1px;
  }
}
